.purgatorycomponent {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: tan;
    height: inherit;
    width: inherit;
}

.purgatoryitem {
    display: flex;
    flex-direction: row;
    position: relative;
    border-radius: 5px;
    border-color: black;
    height: 50px;
    width: 50%;
    padding: 2px;
    margin: 2px;
    font-size: 10pt;
    background-color: darkgoldenrod;
}

.purgatorymessagebody {
    flex: 8;
}

.purgatorykudocount {
    flex: 2;
    height: 50px;
}

.purgatorykudobutton {
    flex: 1;
}
