
@{
    ViewData["Title"] = "Administration Page";
}

<h1>Administration</h1>

<p>
    <a asp-controller="MasterLists" asp-action="Index">Manage Lists</a>
</p>
<p></p>
<p>
    <a href="/authentication/register">Register</a>    
</p>

