@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inherits LayoutComponentBase

<div class="mainview">
    <div class="topmenu">
        <div class="menuicon">
            ListMaster
        </div>
        <div class="menuicon">
            <LoginDisplay />
        </div>
        <div class="menuicon">
            <AdminOptionsComponent />
        </div>
        <div class="menuicon">
            <UserProfileComponent />
        </div>
        <div class="menuicon">
            @Body
        </div>
    </div>

    <div class="listchatactivities">
        <div class="chatsection">
            <ChatComponent />
        </div>

        <div class="listsection">
            <div class="mainlist">
                <MasterListComponent />                
            </div>
            <div class="purgatory">
                <PurgatoryComponent />
            </div>
        </div>
    </div>
</div>

