@inherits LayoutComponentBase

<div class="mainview">
    <div class="topmenu">
        <div class="menuicon">
            @Body
        </div>
        <div class="menuicon">
            <LoginDisplay />
        </div>  
        <div class="menuicon">
            <a href="masterlists/home" >List Maintenance</a>
        </div>
    </div>

    <div class="listchatactivities">
        <div class="chatsection">            
            <ChatComponent />
        </div>

        <div class="listsection">
            <div class="mainlist">
                <MasterListComponent />
            </div>
            <div class="purgatory">
                <PurgatoryComponent />
            </div>
        </div>
    </div>
</div>

