@inherits LayoutComponentBase

<div class="mainview">
    <div class="topmenu">
        <div class="menuicon">
            @Body
        </div>
        <div class="menuicon">
            <LoginDisplay />
        </div>  
        <div class="menuicon">
            <a href="masterlists/index" >Admin</a>
        </div>
    </div>

    <div class="listchatactivities">
        <div class="chatsection">            
            <ChatComponent />
        </div>

        <div class="listsection">
            <div class="mainlist">
                This is test #3
            </div>
            <div class="purgatory">
                This is test #4
            </div>
        </div>
    </div>
</div>

