@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager NavigationManager

    <div class="purgatorycomponent">        
        @foreach (var listitem in _listitems)
        {
        <div class="purgatoryitem">
            <div class="purgatorymessagebody">
                <div class="chatitemsmalltext">@listitem.Username</div>
                <div>@listitem.MessageBody</div>                
            </div>
            <div class="purgatorykudocount">
                @listitem.Kudos Kudos
            </div> 
            <div class="purgatorykudobutton">
                <AuthorizeView>
                    <Authorized>
                        <button @onclick="(() => GiveAKudo(listitem.ListoidId))" class="btn-sm">Kudo</button>
                    </Authorized>
                    <NotAuthorized>
                        <button class="btn-sm" disabled>Kudo</button>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
        </div>            
        }
    </div>