@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    /*position: relative;
    display: flex;
    flex-direction: column;*/
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dimiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.navbar {
    flex: 1;
}

.mainview {
    display: flex;
    flex-direction: column;
    position: relative;
}

.topmenu {
    flex: 1;
    background-color: navajowhite;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
}

.menuicon {
    flex-basis: 200px;
    height: 7vh;
    min-height: 30px;
    border: thick;
    border-radius: 5px;
    background-color: aqua;
    text-align: center;
}

.listchatactivities {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

.chatsection {
    flex: 1;
    height: 93vh;
    /*display: flex;
    flex-direction: column;*/
    background-color: darkgray;
}

.listsection {
    flex: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: lightslategray
}

.mainlist {
    flex: 3;
    background-color: dimgray;
}

.purgatory {
    flex: 1;
    background-color: gray;
}
