@inject NavigationManager NavigationManager

<div class="chatcomponent">
    <div class="chatscreen" id="msgscreen">
        @foreach (var message in _messages)
        {
            <div class="listitem">
                <p>@message.MessageBody</p>
            </div>
        }
    </div>
    <div class="chattextbox">
        <textarea class="chattextarea" @bind="_messageInput" />
        <div class="chatbuttonarea">
            <button @onclick="Send" disabled="@(!IsConnected)" class="chatbutton">Alpha</button>
            <button class="chatbutton">Beta</button>
        </div>
    </div>
</div>

